*{
    box-sizing: border-box;
}

 body {
   max-width: 1440px;
    margin: 0;
    padding: 0;
    color: white;
    line-height: 1.5;
    font-size: 18px;
    background-image: url("bg-intro-desktop.png");
    background-position: center;
    background-size: cover;
    background-color: hsl(0, 100%, 74%);
    font-family: 'Poppins', arial;
    
 }


 .wrapper{
   width: 80%;
   min-height: 30vw;
   margin: 50px auto;
   padding: 0 30px;
   
 }

.wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

.left {
   min-height: 400px;
   width: 50%;
 }
.left h1 {
   font-weight: 700;
   line-height: 1.2;
   margin-top: 20%;
}


.right {
   height: 100%;
   width: 40%;
 }
 .right a {
    text-decoration: none;
    color: hsl(0, 100%, 74%);
 }
 form {
    background-color: rgba(244, 248, 216, 0.891);
    padding: 20px;
    border-radius: 5px;

 }
 input {
   padding: 10px;
   margin-bottom: 10px;
   width: 96%;
   border: 1px solid gray;
   border-radius: 3px;
 }
 
 form>p {
    color: grey;
    font-size: 12px;
    margin: 20px auto 10px 20px;
 }
 button {
   border: none;
   border-radius: 4px;
   height: 40px;
   cursor: pointer;
 }
 .pry-btn {
   background-color: hsl(248, 32%, 49%);
   color: white;
   text-align: center;
   width: 100%;
   margin-bottom: 10px;
 }
.sec-btn {
   width: 96%;
   background-color: hsla(154, 59%, 51%);
   color: white;
}
.pry-btn>a, .sec-btn>a {
   color: white;
}
 span{
   color: hsl(246, 25%, 77%);
 }

 @media only screen and (max-width: 375px) {
   .wrapper {
      display: block;
      width: 100%;
      
   }
   .left {
      width: 100%;
      line-height: 1;
      margin-top: -40px;
   }
   h1 {
      margin-top: -100px;
      font-size: 25px;
   
   }
   p{
      font-size: 16px;
   }


   .right {
      width: 100%;
      margin-top: -70%;
   }
 }